.wrapper {
  background-color: black;
  height: 100%;
}

.maroon {
  color: #800029 !important;
}

.carousel-slide-content{
  height:100%;
  width:80%;
  vertical-align: middle;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #800029 !important;
}
